@model IEnumerable<GestionBoutiqueC.Entities.Detail>
@{
    ViewData["Title"] = "Liste des Articles";
    Layout = "_Layout";
}

<div class="flex justify-between bg-gray-100 p-4 rounded-lg shadow-md">
    @if (Model == null || !Model.Any())
    {
        <p class="py-4 text-center text-gray-500">Aucun article trouvé pour cette dette.</p>
    }
    else
    {
        <table class="min-w-full bg-white border border-gray-300 rounded-lg">
            <thead>
                <tr class="bg-burgundy">
                    <th class="py-2 px-4 border-b text-white text-left">Libelle</th>
                    <th class="py-2 px-4 border-b text-white text-left">Prix Unitaire</th>
                    <th class="py-2 px-4 border-b text-white text-left">Montant</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var detail in Model)
                {
                    <tr class="bg-nude hover:bg-gray-100">
                        <td class="py-2 px-4 border-b">@detail.Article.Libelle</td>
                        <td class="py-2 px-4 border-b">@detail.Article.Prix</td>
                        <td class="py-2 px-4 border-b">@(detail.Article.Prix * detail.QteDette)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
