@model IEnumerable<GestionBoutiqueC.Entities.Article>
@{
    ViewData["Title"] = "Liste des Article";
    Layout = "_Layout";
 
}

 <div class="flex justify-between bg-gray-100 p-4 rounded-lg shadow-md">
        <table class="min-w-full bg-white border border-gray-300 rounded-lg">
            <thead>
                <tr class="bg-burgundy">
                    <th class="py-2 px-4 border-b text-white text-left">Libelle</th>
                    <th class="py-2 px-4 border-b text-white text-left">Prix Unitaire</th>
                    <th class="py-2 px-4 border-b text-white text-left">Montant</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var article in Model)
                {
                    <tr class="bg-nude hover:bg-gray-100">
                        <td class="py-2 px-4 border-b">@article.Libelle</td>
                        <td class="py-2 px-4 border-b">@article.Prix</td>
                        <td class="py-2 px-4 border-b">a faire </td>
                        
                    </tr>
                }
                @if (!Model.Any())
                {
                    <tr>
                        <td colspan="4" class="py-2 px-4 text-center">Aucun article trouvé.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>


@* 
@if (Model == null || !Model.Any())
{
    <p class="text-center">Aucun article trouvé pour ce client.</p>
}
else
{
    // Afficher la table uniquement si des données existent dans le modèle
    <table class="min-w-full bg-white border border-gray-300 rounded-lg">
        <!-- Table header et body -->
    </table>
} *@
