@using GestionBoutiqueC.Entities
@model User

@{
    ViewData["Title"] = "Créer un Utilisateur";
    
}

<div class="max-w-md mx-auto bg-white shadow-md rounded-lg">
    <div class="bg-gray-800 text-white text-lg font-bold p-4 rounded-t-lg">Création Utilisateur</div>
    <div class="p-6">

        <form asp-action="FormUser" method="post">
            @Html.AntiForgeryToken()

            <div class="mb-4">
                <label for="Login" class="block text-burgundy text-sm font-bold mb-2" asp-for="Login">Login</label>
                <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring focus:border-blue-500" asp-for="Login" />
                <span class="text-red-500 text-xs italic" asp-validation-for="Login"></span>
            </div>

            <div class="mb-4">
                <label for="Email" class="block text-burgundy text-sm font-bold mb-2" asp-for="Email">Email</label>
                <input type="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring focus:border-blue-500" asp-for="Email" />
                <span class="text-red-500 text-xs italic" asp-validation-for="Email"></span>
            </div>

            <div class="mb-4">
                <label for="Password" class="block text-burgundy text-sm font-bold mb-2" asp-for="Password">Mot de Passe</label>
                <input type="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring focus:border-blue-500" asp-for="Password" />
                <span class="text-red-500 text-xs italic" asp-validation-for="Password"></span>
            </div>

            <div class="mb-4">
                <label for="UserRole" class="block text-burgundy text-sm font-bold mb-2" asp-for="UserRole">Rôle</label>
                <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring focus:border-blue-500" asp-for="UserRole" asp-items="ViewBag.UserRoles">
                </select>
                <span class="text-red-500 text-xs italic" asp-validation-for="UserRole"></span>
            </div>

            <!-- Actif sera invisible car il est par défaut à true -->
            <input asp-for="Actif" type="hidden" value="true" />

            <div class="flex justify-end">
                <button class="bg-burgundy text-white font-bold py-2 px-4 rounded hover:bg-gray-700 focus:outline-none focus:ring focus:ring-gray-400" type="submit">Soumettre</button>
            </div>
        </form>
    </div>
</div>
